<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
        }
        .main-header {
            background-color: rgb(168, 214, 255);
        }
        .main-header-item-list{
          display: flex;
        }
    </style>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li>
            <a href="/"> Shop</a>
          </li>
          <li>
            <a href="/add-product"> Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="title">
        <h1>Hello we are still working on our store</h1>
        <p>List all the product here ........</p>
      </div>
    </main>
  </body>
</html>
